@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class = "display-4" asp-area="" asp-controller="Clients" asp-action="Index">Список Клиентов</a><br />
    <a class = "display-4" asp-controller="Founders" asp-action="Index">Список Учредителей</a>
</div>
